In [1]:

import pandas as pd

In [3]:
twitter_data=pd.read_csv('twitter_data.csv',encoding='ISO-8859-1',header=None)

In [4]:
twitter_data.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [5]:
import numpy as np
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [6]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\faizu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [14]:
#printing the stopwords in english

In [16]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [17]:
#data processing

In [21]:
twitter_data.shape

(1600000, 6)

In [25]:
column_names = [ 'target','id', 'date', 'flag', 'user', 'text']
twitter_data=pd.read_csv('datasets/twitter_data.csv',names=column_names,encoding='ISO-8859-1',header=None)

In [26]:
twitter_data.shape

(1600000, 6)

In [27]:
twitter_data.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [28]:
#counting missing values/null values
twitter_data.isnull().sum()

target    0
id        0
date      0
flag      0
user      0
text      0
dtype: int64

In [29]:
#checking the distribution of output(target column)
twitter_data['target'].value_counts()

target
0    800000
4    800000
Name: count, dtype: int64

In [31]:
#equally is distributed

#convert target column in range 0 to 1

In [32]:
twitter_data.replace({'target':{4:1}}, inplace=True)

In [33]:
twitter_data['target'].value_counts()

target
0    800000
1    800000
Name: count, dtype: int64

In [34]:
#stemming:reducing words to root word

In [35]:
port_stem=PorterStemmer()

In [56]:
def stemming(content) :
    stemmed_content=re.sub('[^a-zA-Z]',' ', content)#removing non-alphabets
    stemmed_content=stemmed_content.lower()#convert to lower case
    stemmed_content=stemmed_content.split()#splitting and storing in a list
    stemmed_content=[port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
    stemmed_content=' '.join(stemmed_content)
    
    return stemmed_content

In [65]:
twitter_data. columns. values. tolist()

['target',
 'id',
 'date',
 'flag',
 'user',
 'text',
 'stemmed_content',
 'stemmed_content2']

In [68]:
twitter_data=twitter_data.drop(columns=['stemmed_content', 'stemmed_content2'])

In [69]:
twitter_data. columns. values. tolist()

['target', 'id', 'date', 'flag', 'user', 'text']

In [77]:
import time
s=time.time()

twitter_data['stemmed_content']=twitter_data['text'].apply(stemming)

e=time.time()
print("start time:",s)
Sprint(" end time :",e)

start time: 1706378691.8041143
 end time : 1706416775.5108256

In [81]:
#checking time taken to run the above stemming 
local_time = time.ctime(s)
print(local_time)
local_time = time.ctime(e)
print(local_time)

Sat Jan 27 13:04:51 2024
Sat Jan 27 23:39:35 2024

In [82]:
twitter_data.head()

,target,id,date,flag,user,text,stemmed_content
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",switchfoot http twitpic com zl awww bummer sho...
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,upset updat facebook text might cri result sch...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,kenichan dive mani time ball manag save rest g...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,whole bodi feel itchi like fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",nationwideclass behav mad see

In [83]:
print(twitter_data['stemmed_content'])

0          switchfoot http twitpic com zl awww bummer sho...
1          upset updat facebook text might cri result sch...
2          kenichan dive mani time ball manag save rest g...
3                            whole bodi feel itchi like fire
4                              nationwideclass behav mad see
                                 ...
1599995                           woke school best feel ever
1599996    thewdb com cool hear old walt interview http b...
1599997                         readi mojo makeov ask detail
1599998    happi th birthday boo alll time tupac amaru sh...
1599999    happi charitytuesday thenspcc sparkschar speak...
Name: stemmed_content, Length: 1600000, dtype: object

In [84]:
print(twitter_data['target'])

0          0
1          0
2          0
3          0
4          0
          ..
1599995    1
1599996    1
1599997    1
1599998    1
1599999    1
Name: target, Length: 1600000, dtype: int64

In [122]:
#separating data(stemmed content) and label(target)
X=twitter_data['stemmed_content'].values
Y=twitter_data['target'].values

In [123]:
print(X)

['switchfoot http twitpic com zl awww bummer shoulda got david carr third day'
 'upset updat facebook text might cri result school today also blah'
 'kenichan dive mani time ball manag save rest go bound' ...
 'readi mojo makeov ask detail'
 'happi th birthday boo alll time tupac amaru shakur'
 'happi charitytuesday thenspcc sparkschar speakinguph h']

In [124]:
print(Y)

[0 0 0 ... 1 1 1]

In [125]:
#splitting data to training data and test data
X_train,X_test,Y_train,Y_test=train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [126]:
print(X.shape,X_train.shape,X_test.shape)

(1600000,) (1280000,) (320000,)

In [121]:
print(X_train)

['watch saw iv drink lil wine' 'hatermagazin'
 'even though favourit drink think vodka coke wipe mind time think im gonna find new drink'
 ... 'eager monday afternoon'
 'hope everyon mother great day wait hear guy store tomorrow'
 'love wake folger bad voic deeper']

In [127]:
print(X_test)

['mmangen fine much time chat twitter hubbi back summer amp tend domin free time'
 'ah may show w ruth kim amp geoffrey sanhueza'
 'ishatara mayb bay area thang dammit' ...
 'destini nevertheless hooray member wonder safe trip' 'feel well'
 'supersandro thank']

In [128]:
#converting textual data to numerical data
vectorizer=TfidfVectorizer()
X_train=vectorizer.fit_transform(X_train)
X_test=vectorizer.transform(X_test)

In [129]:
#training the model:logistic regression-classification model ie negative or positive tweet

model=LogisticRegression(max_iter=1000)

In [130]:
model.fit(X_train,Y_train)

LogisticRegression(max_iter=1000)

In [131]:
#model evaluation
#accuracy_score on the training data
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(Y_train,X_train_prediction)
print("accuracy score on the training data:  ",training_data_accuracy)

accuracy score on the training data:   0.81021796875

In [132]:
#accuracy_score on the training data
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(Y_test,X_test_prediction)
print("accuracy score on the test data:  ",test_data_accuracy)

accuracy score on the test data:   0.778003125

In [108]:
#model accuracy=77.8%

In [136]:
#saving trained model
import pickle

In [137]:
filename='trained_model.sav'
pickle.dump(model,open(filename,'wb'))

In [140]:
#future predictions.By loading the saved model. testing with new data
loaded_model=pickle.load(open('trained_model.sav','rb'))

In [141]:
X_new=X_test[200]
print("actual value : ",Y_test[200])

prediction=model.predict(X_new)
print("predicted value : ",prediction)
if(prediction[0]==0):
     print("negative tweet")
else :
     print("positive tweet")

actual value :  1
predicted value :  [1]
positive tweet

In [142]:
`X_new=X_test[3]
print("actual value : ",Y_test[3])

prediction=model.predict(X_new)
print("predicted value : ",prediction)
if(prediction[0]==0):
     print("negative tweet")
else :
     print("positive tweet")

actual value :  0
predicted value :  [0]
negative tweet